@model IEnumerable<UGPC_IIUI.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new{@class="btn btn-primary"})
</p>
<table class="table table-responsive table-striped">
    <thead style="background-color: #00A65A">
        <tr style="color: white">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId },new{@class="btn btn-secondary btn-sm"}) 
                    @Html.ActionLink("Details", "Details", new { id = item.DepartmentId },new{@class="btn btn-info btn-sm"}) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId },new{@class="btn btn-danger btn-sm"})
                </td>
            </tr>
        }
    </tbody>

</table>
