@model UGPC_IIUI.ViewModels.CommitteeMemberViewModel
@{
    ViewBag.Title = "DeleteMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteMember</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Committee Membership</h4>
    <hr />
    
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.MemberId)
        @Html.HiddenFor(m => m.CommitteeId)
        @Html.HiddenFor(m => m.Role)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Details", new {@id= @Model.CommitteeId})
        </div>
    }
</div>


