@model UGPC_IIUI.ViewModels.UserViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        
        @* name *@
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        @* username *@
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        
        @* email *@
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @* reg no *@
        <dt>
            @Html.DisplayNameFor(model => model.Student.RegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.RegNo)
        </dd>

        @* programme *@
        <dt>
            Programme
        </dt>

        <dd>
            BS
        </dd>

        @* department *@
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        @* batch *@
        <dt>
            @Html.DisplayNameFor(model => model.Student.Batch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Batch)
        </dd>
        
        @* section *@
        <dt>
            @Html.DisplayNameFor(model => model.Student.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Section)
        </dd>
        
        @* Role *@
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
